.blogs {
    margin-top: 3rem;
  /* max-width: 300px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1000px;
  margin: auto;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 250px;
  min-height: 400px;
  max-height: 400px;
  box-shadow: 0 0 10px rgba(218, 218, 218, 0.5);
}
/* 
.blog h3{
  cursor: pointer;
} */

.blog img {
  border-radius: 10px;
}

.blog:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.blog h3 {
  margin: 10px 0 1rem 0;
  font-size: 1.5rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.btn{
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover{
  background-color: #eaeaea;
  color: #0070f3;
  transform: scale(1.1);
}