.footer {

  display: flex;
  flex: 1;
  padding: 1.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}



.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.name{
    color: #0070f3;
}